/* burger */
.burger-menu {
  display: none;
}
@media (max-width: 768px) {
  .header__menu-items {
    display: none;
  }
  .burger-button {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    gap: 8px;
    width: 40px;
    height: 40px;

    transition: all .3s ease;
    z-index: 99;
  }
  .burger-button span {
    width: 22px;
    height: 2px;
    background-color: #181c29;
  }
}
/* screen > w768 */
@media (max-width: 1200px) {
  .container {
    padding: 0 8px;
  }
  .about__content {
    padding: 46px 60px;
  }
}
@media (max-width: 1100px) {
  .best-gifts__cards {
    padding: 0 60px;
    flex-wrap: wrap;
  }
  .footer__cards {
    flex-direction: column;
    gap: 12px;
  }
  .footer__card {
    width: 100%;
  }
  .footer__card:nth-child(2) {
    margin-left: 0;
  }
  .footer__card:nth-child(3) {
    margin-left: 0;
  }
}
/* screen > w380 */
@media (max-width: 600px) {
  .about__inner {
    flex-direction: column;
  }
  .about__content {
    padding: 60px 20px;
    width: 100%;
  }
  .about__image {
    width: 100%;
  }
  .best-gifts__cards {
    padding: 0 27px;
  }
}

@media (hover: none) and (pointer: coarse) {
  /* Menu buttons */
  .header__menu-item .header__menu-link:hover {
    color: #181c29; 
    background-color: transparent;
    transition: none;
    cursor: default;
  }
  /* Gift cards and footer cards */
  .best-gifts__card:hover,
  .best-gifts__card:hover .best-gifts__card-title,
  .footer__card:hover .footer__card-subtitle,
  .footer__card:hover .footer__card-title,
  .footer__info-subtitle:hover {
    color: #181c29; 
    transition: none;
    cursor: default;
  }
  /* Slider button */
  .slider__buttons-right:hover {
    background-image: url('../../assets/icons/arrow-right.svg');
    background-color: transparent;
    border: 1px solid #fff;
    transition: none;
    cursor: default;
  }
  /* Buttons */
  .hero__content-link:hover,
  .cta__content-link:hover {
    color: #fff;
    background-color: #181c29;
    transition: none;
    cursor: default;
  }
  /* SVG icons */
  .footer__info-icon:hover .footer__info-icon--active {
    stroke: #181c29; 
    transition: none;
    cursor: default;
  }
  * {
    transition: none;
  }
  /* All classes with transition */
  .header__menu-link,
  .hero__content-link,
  .best-gifts__card,
  .best-gifts__card-title,
  .slider__button,
  .footer__card,
  .footer__card-title,
  .footer__card-subtitle,
  .footer__info-icon,
  .footer__info-icon--active,
  .footer__info-subtitle {
    transition: none;
  }
}