/* burger */
.burger-menu {
  display: none;
}
@media (max-width: 768px) {
  .header__logo {
    /* position: fixed; */
    /* z-index: 99; */
  }
  .burger-button {
    /* position: fixed; */
    /* top: 12px; */
    /* right: 9px; */

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    gap: 8px;
    width: 40px;
    height: 40px;

    transition: all 0.3s ease;
    z-index: 98;
  }
  .burger-button span {
    width: 22px;
    height: 1px;
    background-color: #181c29;
    z-index: 100;
    transition: all 0.3s ease;
  }
  .burger-button--active {
    gap: 0;
    margin-right: -1px;
  }
  .burger-button--active span:first-child {
    transform: rotate(-45deg) translate(0px, 1px);   
  }
  .burger-button--active span:last-child {
    transform: rotate(45deg) translate(0px, -1px);
    width: 22px;
  }
  .header__menu-list {
    position: fixed;
    z-index: 97;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #fff;
    display: flex;
    justify-content: center;

    transform: translateX(800px);
    transition: all 0.4s ease;
  }
  .header__menu-list--active {
    transform: translateX(0px);
  }
  ul.header__menu-items {
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  .header__menu-item {
    font-size: 24px;
    line-height: 36px; 
    letter-spacing: 0.16em;
  }
}

/* screen > w768 */
@media (max-width: 1200px) {
  .container {
    padding: 0 8px;
  }
  .about__content {
    padding: 46px 60px;
  }
}
@media (max-width: 1100px) {
  .best-gifts__cards {
    padding: 0 60px;
    flex-wrap: wrap;
  }
  .footer__cards {
    flex-direction: column;
    gap: 12px;
  }
  .footer__card {
    width: 100%;
  }
  .footer__card:nth-child(2) {
    margin-left: 0;
  }
  .footer__card:nth-child(3) {
    margin-left: 0;
  }
}
/* screen > w380 */
@media (max-width: 600px) {
  .about__inner {
    flex-direction: column;
  }
  .about__content {
    padding: 60px 20px;
    width: 100%;
  }
  .about__image {
    width: 100%;
  }
  .best-gifts__cards {
    padding: 0 27px;
  }
}

@media (hover: none) and (pointer: coarse) {
  /* Menu buttons */
  .header__menu-item .header__menu-link:hover {
    color: #181c29; 
    background-color: transparent;
    transition: none;
    cursor: default;
  }
  /* Slider buttons*/
  .slider__button:hover {
    background-color: transparent;
    border: 1px solid #fff;
    transition: none;
  }
  .slider__button:hover .slider__button-svg {
    stroke: #fff;
    transition: none;
  }
  .slider__button--disabled:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
  .slider__button--disabled:hover .slider__button-svg {
    stroke: rgba(255, 255, 255, 0.4)
  }
  /* Gift cards and footer cards */
  .best-gifts__card:hover,
  .best-gifts__card:hover .best-gifts__card-title,
  .footer__card:hover .footer__card-subtitle,
  .footer__card:hover .footer__card-title,
  .footer__info-subtitle:hover {
    color: #181c29; 
    transition: none;
    cursor: default;
  }
  /* Buttons */
  .hero__content-link:hover,
  .cta__content-link:hover {
    color: #fff;
    background-color: #181c29;
    transition: none;
    cursor: default;
  }
  /* SVG icons */
  .footer__info-icon:hover .footer__info-icon--active {
    stroke: #181c29; 
    transition: none;
    cursor: default;
  }
  * {
    transition: none;
  }
  /* All classes with transition */
  .header__menu-link,
  .hero__content-link,
  .best-gifts__card,
  .best-gifts__card-title,
  .slider__button,
  .footer__card,
  .footer__card-title,
  .footer__card-subtitle,
  .footer__info-icon,
  .footer__info-icon--active,
  .footer__info-subtitle {
    transition: none;
  }
}