/* reset styles*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* global */
html {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
main {
  flex-grow: 1;
}
.container {
  max-width: 1276px;
  margin: 0 auto;
  padding: 0 82px;
}
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('../../assets/fonts/Montserrat-SemiBold.woff2') format("woff2"),
       url('../../assets/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Allura-Regular';
  src: url('../../assets/fonts/Allura-Regular.woff2') format("woff2"),
       url('../../assets/fonts/Allura-Regular.woff') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Montserrat', sans-serif;
}

/* header styles */
header {
  background-color: red;
}
main {
  background-color: aqua;
}
footer {
  background-color: blue;
}