/* reset styles*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* global */
html {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
main {
  flex-grow: 1;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 82px;
}
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('../../assets/fonts/Montserrat.woff2') format("woff2"),
       url('../../assets/fonts/Montserrat.woff') format('woff'),
       url('../../assets/fonts/Montserrat.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('../../assets/fonts/Montserrat-Regular.woff2') format("woff2"),
       url('../../assets/fonts/Montserrat-Regular.woff') format('woff'),
       url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Allura';
  src: url('../../assets/fonts/Allura-Regular.woff2') format("woff2"),
       url('../../assets/fonts/Allura-Regular.woff') format("woff"),
       url('../../assets/fonts/Allura-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #181c29;
  background-color: #fff;
}

/* header styles */
.header__inner {
  display: flex;
  height: 64px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;
}
.header__logo-title {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;

  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #181c29;
}

.header__menu-items {
  display: flex;
}
.header__menu-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #181c29;
}
.header__menu-item + .header__menu-item {
  margin-left: 8px;
}
.header__menu-link { 
  padding: 12px 20px;
  color: #181c29;
  transition: all .3s ease;
}
.header__menu-item:hover .header__menu-link{
  color: #ff4646;
  background-color: rgba(255, 70, 70, 0.1);
  border-radius: 12px;
  transition: all .3s ease;
}
/* hero styles */
.hero {
  background: url('../../assets/images/bg-ball.png'), url('../../assets/images/bg-snow.png');
  background-color: #ff4646;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
}
.hero__content {
  max-width: 426px;
  margin: 60px 0;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

}
.hero__content-text {
  font-family: "Allura", sans-serif;
  font-weight: 400;
  font-size: 24px;

  line-height: 100%;
  letter-spacing: 0.05em;
  color: #fff;
}
.hero__content-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 32px;
  
  line-height: 150%;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.hero__content-link {
  padding: 20px 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;

  line-height: 130%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #181c29;
  border-radius: 20px;
  border: none;
  transition: all .3s ease;
}
.hero__content-link:hover {
  cursor: pointer;
  color: #181c29;
  background-color: #fff;
  transition: all .3s ease;
}
/* about styles */
.about {
  padding: 60px 0;
  background-color: #ff4646;
  background-image: url('../../assets/images/bg-snow.png');
  background-size: cover;
  background-position: center center;
}
.about__inner {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
}
.about__content {
  width: 50%;
  padding: 100px 152px 100px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  background-color: #fff;
  border-radius: 20px 0 0 20px;
}
.about__content-subtitle {
  font-family: "Allura", sans-serif;
  font-weight: 400;
  font-size: 24px;

  line-height: 100%;
  letter-spacing: 0.05em;
  color: #ff4646;
}
.about__content-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;

  line-height: 152%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #181c29;
}
.about__content-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;

  letter-spacing: 1px;
  line-height: 148%;
  color: #181c29;
}
.about__image img{
  border-radius: 20px;
}
/* slider styles */
.slider {
  background-color: #ff4646;
  background-image: url('../../assets/images/bg-snow.png');
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.slider__inner {
  padding: 60px 0;
}
.slider__subtitle {
  margin-bottom: 12px;

  font-family: "Allura", sans-serif;
  font-weight: 400;
  font-size: 24px;

  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
}
.slider__title {
  margin-bottom: 20px;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  
  line-height: 152%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  text-align: center;
  color: #fff
}
.slider__container {
  display: flex;
  flex-direction: column;
}
.slider__cards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.slider__card {
  display: flex;
  align-items: center;
}
.slider__card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  letter-spacing: 0.02em;
}
.slider__card-image {
  margin-left: 20px;
  width: 200px;
  height: 200px;
}
.slider__card-image img {
  border-radius: 20px;
}
.slider__buttons {
  display: flex;
  align-self: flex-end;
  gap: 20px;
}
.slider__button {
  width: 56px;
  height: 56px;
  
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;

  transition: background-color 0.6s;
}
.slider__buttons-left {
  background-image: url('../../assets/icons/arrow-left.svg');
}
.slider__buttons-right {
  cursor: pointer;
  background-image: url('../../assets/icons/arrow-right.svg');
  border: 1px solid #fff;
}
.slider__buttons-right:hover {
  background-color: #fff;
  border: 1px solid #fff;
  transition: background-color 0.6s;
  background-image: url('../../assets/icons/arrow-right--active.svg');
}
/* best-gifts styles */
.best-gifts {
  background-color: #ff4646;
  background-image: url('../../assets/images/bg-snow.png');
  background-size: cover;
  background-position: center center;
  margin-bottom: -1px;     
}
.best-gifts__inner {
  padding: 60px 0;
}
.best-gifts__subtitle {
  margin-bottom: 12px;
  font-family: "Allura", sans-serif;
  font-weight: 400;
  font-size: 24px;
   
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
}
.best-gifts__title {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;

  line-height: 152%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.best-gifts__cards {
  display: flex;
  gap: 12px;
}
.best-gifts__card {
  border-radius: 20px;
  background-color: #ecf3f8;
  transition: all .3s ease;
}
.best-gifts__card:hover {
  cursor: pointer;
  transition: all .3s ease;
}
.best-gifts__card:hover .best-gifts__card-title {
  color: #ff4646;
  transition: all .3s ease;
}
.best-gifts__card-image {
  border-radius: 20px 20px 0 0px ;
  background-color: #ecf3f8;
}
.best-gifts__card-info {
  min-height: 112px;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #fff;
  border-radius: 20px;
}
.best-gifts__card-subtitle {
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;

  line-height: 130%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #4361ff;
}
.best-gifts__card-subtitle--health {
  color: #06a44f;
}
.best-gifts__card-subtitle--harmony {
  color: #ff43f7;
}
.best-gifts__card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;

  line-height: 152%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #181c29;
}
/* cta styles */
.cta {
  background: url('../../assets/images/bg-forest.png'), url('../../assets/images/bg-snow.png');
  background-color: #ff4646;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
}
.cta__content {
  max-width: 426px;
  padding: 180px 0 181px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta__content-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.cta__content-link {
  margin: 20px 0;
  padding: 20px 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;

  line-height: 130%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #181c29;
  border-radius: 20px;
  border: none;
  transition: all .3s ease;
}
.cta__content-text {
  margin-bottom: 8px;
  font-family: "Allura", sans-serif;
  font-weight: 400;
  font-size: 24px;

  line-height: 100%;
  letter-spacing: 0.05em;
  color: #fff;
}
.cta__content-link:hover {
  cursor: pointer;
  color: #181c29;
  background-color: #fff;
  transition: all .3s ease;
}
.cta__timer-items {
  padding: 8px 12px;
  width: 344px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
} 
.cta__timer-item {
  width: 80px;
  height: 52px;
  position: relative;
}
.cta__timer-item:not(:first-child):after {
  content: '';
  position: absolute;
  background-image: url('../../assets/icons/separator.svg');
  background-repeat: no-repeat;
  top: 13px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.cta__timer-number {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;

  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.cta__timer-word {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
/* footer styles */
.footer {
  padding: 60px 0;
  background-color: #fff;
}
.footer__cards {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-bottom: 60px;
}
.footer__card {
  display: flex;
  flex: 1 1 33%;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 20px 0;
  border-radius: 20px;
  background-color: #ecf3f8;

  cursor: pointer;
  transition: all .3s ease;
}
.footer__card:hover .footer__card-subtitle{
  transition: all .3s ease;
  color: #ff4646;
}
.footer__card:hover .footer__card-title {
  transition: all .3s ease;
  color: #ff4646;
}
.footer__card-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;

  line-height: 168%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #181c29;
}
.footer__card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;

  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: #181c29;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__info-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.footer__info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  fill: #fff;
  cursor: pointer;
  transition: all .3s ease;
}
.footer__info-icon--active {
  width: 24px;
  stroke: #181C29; 
  transition: all .3s ease;
}
.footer__info-icon:hover .footer__info-icon--active{
  stroke: #ff4646; 
  transition: all .3s ease;
}

.footer__info-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 148%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #181c29;
}
.footer__info-subtitle {
  font-family: "Allura", sans-serif;
  font-weight: 400;
  font-size: 24px;

  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #181c29;

  cursor: pointer;
  transition: all .3s ease;
}
.footer__info-subtitle:hover{
  color: #ff4646;
  transition: all .3s ease;
}

