/* reset styles*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* global */
html {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
main {
  flex-grow: 1;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 82px;
}
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('../../assets/fonts/Montserrat-SemiBold.woff2') format("woff2"),
       url('../../assets/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Allura-Regular';
  src: url('../../assets/fonts/Allura-Regular.woff2') format("woff2"),
       url('../../assets/fonts/Allura-Regular.woff') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #181c29;
}

/* header styles */
.header__inner {
  display: flex;
  height: 64px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;
}
.header__logo-title {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;

  /* line-height: 16px; */ 
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #181c29;
}

.header__menu-items {
  display: flex;
}
.header__menu-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  
  /* line-height: 16px; */ 
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #181c29;
}
.header__menu-item + .header__menu-item {
  margin-left: 8px;
}
.header__menu-link { 
  padding: 12px 20px;
  color: #181c29;
  transition: all .3s ease;
}
.header__menu-item:hover .header__menu-link{
  color: #ff4646;
  background-color: rgba(255, 70, 70, 0.1);
  border-radius: 12px;
  transition: all .3s ease;
}



main {
  background-color: aqua;
}
footer {
  background-color: blue;
}