/* reset styles*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* global */
html {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
main {
  flex-grow: 1;
}
/* fix white line */
@media (max-width: 1500px)  {
  section {
    will-change: transform;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 82px;
}
.container__1440 {
  max-width: 1440px;
  margin: 0 auto;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../../assets/fonts/Montserrat-SemiBold.woff2') format("woff2"),
       url('../../assets/fonts/Montserrat-SemiBold.woff') format('woff'),
       url('../../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../assets/fonts/Montserrat-Regular.woff2') format("woff2"),
       url('../../assets/fonts/Montserrat-Regular.woff') format('woff'),
       url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Allura';
  src: url('../../assets/fonts/Allura-Regular.woff2') format("woff2"),
       url('../../assets/fonts/Allura-Regular.woff') format("woff"),
       url('../../assets/fonts/Allura-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Montserrat-Regular', sans-serif;
  color: #181c29;
  background-color: #fff;
}

/* header styles */
.header__wrapper {
  background-color: #fff;
}
.header__inner {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
}
.header__logo-container {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;
}
.header__logo-title {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;

  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #181c29;
}

.header__menu-items {
  display: flex;
  align-items: center;
}
.header__menu-item {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 12px;
  
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #181c29;
}
.header__menu-item + .header__menu-item {
  margin-left: 8px;
}
.header__menu-link { 
  padding: 12px 20px;
  color: #181c29;
  transition: all .3s ease;
}
.header__menu-item:hover .header__menu-link{
  color: #ff4646;
  background-color: rgba(255, 70, 70, 0.1);
  border-radius: 12px;
  transition: all .3s ease;
}
/* hero styles */
.hero {
  background-color: #fff;
}
.hero__wrapper {
  background: url('../../assets/images/bg-ball.png'), url('../../assets/images/bg-snow.png');
  background-color: #ff4646;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
}
.hero__content {
  max-width: 430px;
  padding: 119px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

}
.hero__content-text {
  font-family: "Allura", sans-serif;
  font-weight: 400;
  font-size: 24px;

  line-height: 24px;
  letter-spacing: 0.05em;
  color: #fff;
}
.hero__content-title {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 32px;
  
  line-height: 48px;
  letter-spacing: 5.76px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.hero__content-link {
  padding: 20px 32px;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 12px;

  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #181c29;
  border-radius: 20px;
  border: none;
  transition: all .5s ease;
}
.hero__content-link:hover {
  cursor: pointer;
  color: #181c29;
  background-color: #fff;
  transition: all .5s ease;
}
/* about styles */
.about {
 background-color: #fff;
}
.about__wrapper {
  padding: 61px 0;
  background-color: #ff4646;
  background-image: url('../../assets/images/bg-snow.png');
  background-size: cover;
  background-position: center center;
}
.about__inner {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
}
.about__content {
  width: 50%;
  padding: 100px 152px 100px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  background-color: #fff;
  border-radius: 20px;
}
.about__content-subtitle {
  font-family: "Allura", sans-serif;
  font-weight: 400;
  font-size: 24px;

  line-height: 24px; 
  letter-spacing: 0.05em;
  color: #ff4646;
}
.about__content-title {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 24px;

  line-height: 36px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #181c29;
}
.about__content-text {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 24px;
  color: #181c29;
}
.about__image {
  width: 50%;
}
.about__image img{
  object-fit: cover;
    height: 528px;
  border-radius: 20px;
}
/* slider styles */
.slider {
  background-color: #fff;
}
.slider__wrapper {
  background-color: #ff4646;
  background-image: url('../../assets/images/bg-snow.png');
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.slider__inner {
  padding: 59px 0;
}
.slider__subtitle {
  margin-bottom: 13px;

  font-family: "Allura", sans-serif;
  font-weight: 400;
  font-size: 24px;

  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
}
.slider__title {
  margin-bottom: 20px;

  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 24px;
  
  line-height: 36px;
  letter-spacing: 3.79px;
  text-transform: uppercase;
  text-align: center;
  color: #fff
}
.slider__container {
  display: flex;
  flex-direction: column;
}
.slider__cards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  transition: margin-left 0.6s ease-in-out;
}
.slider__card {
  display: flex;
  align-items: center;
}
.slider__card-title {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  letter-spacing: 0.2px;
}
.slider__card-image {
  margin-left: 20px;
  width: 200px;
  height: 200px;
}
.slider__card-image img {
  border-radius: 20px;
}
.slider__buttons {
  display: flex;
  align-self: flex-end;
  gap: 20px;
}
.slider__button {
  width: 56px;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 20px;
  
  cursor: pointer;
  transition: background-color 0.6s;
}
.slider__button-svg {
  width: 24px;
  height: 24px;
  stroke: #fff; 
  transition: all .3s ease;
}
.slider__button:hover {
  background-color: #fff;
  border: 1px solid #fff;
  transition: background-color 0.6s;
}
.slider__button:hover .slider__button-svg {
  stroke: #ff4646;
}
.slider__button--disabled {
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: auto;
  pointer-events: none
}
.slider__button--disabled:hover .slider__button-svg {
  stroke: rgba(255, 255, 255, 0.4);
}
.slider__button--disabled .slider__button-svg {
  stroke: rgba(255, 255, 255, 0.4)
}
/* best-gifts styles */
.best-gifts {
  background-color: #fff;
}
.best-gifts__wrapper {
  background-color: #ff4646;
  background-image: url('../../assets/images/bg-snow.png');
  background-size: cover;
  background-position: center center;
}
.best-gifts__inner {
  padding: 59px 0;
}
.best-gifts__subtitle {
  margin-bottom: 15px;
  font-family: "Allura", sans-serif;
  font-weight: 400;
  font-size: 24px;
   
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
}
.best-gifts__title {
  margin-bottom: 20px;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 24px;

  line-height: 36px;
  letter-spacing: 3.89px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.best-gifts__cards {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}
.best-gifts__card {
  min-width: 310px;
  width: 310px;
  border-radius: 20px;
  background-color: #ecf3f8;
  transition: all .3s ease;
}
.best-gifts__card:hover {
  cursor: pointer;
  transition: all .3s ease;
}
.best-gifts__card:hover .best-gifts__card-title {
  color: #ff4646;
  transition: all .3s ease;
}
.best-gifts__card-image {
  border-radius: 20px 20px 0 0px ;
  background-color: #ecf3f8;
}
.best-gifts__card-info {
  min-height: 112px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}
.best-gifts__card-subtitle {
  margin-bottom: 8px;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 12px;

  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4361ff;
}
.best-gifts__card-subtitle--health {
  color: #06a44f;
}
.best-gifts__card-subtitle--harmony {
  color: #ff43f7;
}
.best-gifts__card-title {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #181c29;
  transition: color 0.5s ease;
}
/* cta styles */
.cta {
  background-color: #fff;
}
.cta__wrapper {
  background: url('../../assets/images/bg-forest.png'), url('../../assets/images/bg-snow.png');
  background-color: #ff4646;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
}
.cta__content {
  max-width: 426px;
  padding: 180px 0 181px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta__content-title {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 24px;
  
  line-height: 36px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.cta__content-link {
  margin: 20px 0 17px 0;
  padding: 20px 32px;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 12px;

  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #181c29;
  border-radius: 20px;
  border: none;
  transition: all .5s ease;
}
.cta__content-text {
  margin-bottom: 10px;
  font-family: "Allura", sans-serif;
  font-weight: 400;
  font-size: 24px;

  line-height: 24px;
  letter-spacing: 0.05em;
  color: #fff;
}
.cta__content-link:hover {
  cursor: pointer;
  color: #181c29;
  background-color: #fff;
  transition: all .5s ease;
}
.cta__timer-items {
  padding: 10px 12px;
  width: 344px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
} 
.cta__timer-item {
  width: 80px;
  height: 52px;
  position: relative;
}
.cta__timer-item:not(:first-child):after {
  content: '';
  position: absolute;
  background-image: url('../../assets/icons/separator-icon.svg');
  background-repeat: no-repeat;
  top: 13px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.cta__timer-number {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 24px;

  line-height: 36px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.cta__timer-word {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 12px;
  
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
/* footer styles */
.footer {
  background-color: #fff;
}
.footer__wrapper {
  padding: 60px 0;
}
.footer__cards {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-bottom: 60px;
}
.footer__card {
  display: flex;
  flex: 1 1 33%;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 20px 0;
  border-radius: 20px;
  background-color: #ecf3f8;

  cursor: pointer;
  transition: all .5s ease;
}
.footer__card:nth-child(2) {
 margin-left: 3px;
}
.footer__card:nth-child(3) {
 margin-left: 4px;
}
.footer__card:hover .footer__card-subtitle{
  transition: all .5s ease;
  color: #ff4646;
}
.footer__card:hover .footer__card-title {
  transition: all .5s ease;
  color: #ff4646;
}
.footer__card-subtitle {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 24px;

  line-height: 36px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #181c29;
  transition: color 0.5s ease;
}
.footer__card-title {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: #181c29;
  transition: color 0.5s ease;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__info-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.footer__info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  fill: #fff;
  cursor: pointer;
  transition: all .3s ease;
}
.footer__info-icon--active {
  width: 24px;
  height: 24px;
  stroke: #181C29; 
  transition: all .3s ease;
}
.footer__info-icon:hover .footer__info-icon--active{
  stroke: #ff4646; 
  transition: all .3s ease;
}

.footer__info-text {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 24px;
  text-align: center;
  color: #181c29;
}
.footer__info-subtitle {
  margin-top: -3px;
  font-family: "Allura", sans-serif;
  font-weight: 400;
  font-size: 24px;

  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #181c29;

  cursor: pointer;
  transition: all .3s ease;
}
.footer__info-subtitle:hover{
  color: #ff4646;
  transition: all .3s ease;
}



.modal {
  display: none;

  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
}

.modal-close {
  position: absolute;
  font-size: 28px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  width: 40px;
  height: 40px;
  gap: 0;
}

.modal-close span {
    width: 27px;
    height: 2px;
    background-color: #181c29;
    z-index: 105;
}
 .modal-close span:first-child {
    transform: rotate(-45deg) translate(0px, 1px);   
  }
  .modal-close span:last-child {
    transform: rotate(45deg) translate(0px, -1px);
  }

.modal-content {
  max-width: 400px;  
  position: relative;
  border-radius: 20px;
  background-color: #ecf3f8;
}
.modal__inner {
  display: flex;
  flex-direction: column;
}
.modal__img-container {
  display: flex;
  height: 230px;
}
.modal__img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.modal__card-info {
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;


} 
.modal__subtitle {
  margin-bottom: 8px;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 12px;

  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.modal__title {
  margin-bottom: 8px;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #181c29;
  transition: color 0.5s ease;
}
.modal__description {
  margin-bottom: 20px;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.48;
}
.modal__rating {
  margin-bottom: 8px;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  line-height: 1.3;
  font-size: 12px; 
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #181c29;
}
.rating__container {
  display: flex;
  justify-content: space-between;

}
.rating__container--text {
  display: flex;
  flex-direction: column;
}
.rating__container--stars {
  display: flex;
  flex-direction: column;
}
.rating__container--text span{
  height: 24px;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.48;
  color: #181c29;
}
.rating__container--stars span{
  height: 24px;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.48;
  color: #181c29;
}
.rating__container--star {
  display: flex;
  align-items: center;
  gap: 8px
}
.rating__container--star span{
  margin-right: 5px;
  margin-top: 1px;
}

.modal__icon-star {
  width: 16px;
  height: 16px;
  fill: red;
  opacity: 0.1;
}
.scroll-block {
  overflow: hidden;
} 