/* burger */
.burger-menu {
  display: none;
}
.scroll-to-top {
    display: none; 
}
@media (max-width: 768px) {
  .header__logo {
    /* position: fixed; */
    /* z-index: 99; */
  }
  .burger-button {
    /* position: fixed; */
    /* top: 12px; */
    /* right: 9px; */

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    gap: 8px;
    width: 40px;
    height: 40px;

    transition: all 0.3s ease;
    z-index: 98;
  }
  .burger-button span {
    width: 22px;
    height: 1px;
    background-color: #181c29;
    z-index: 100;
    transition: all 0.3s ease;

  }
  .burger-button--active {
    gap: 0;
    margin-right: -1px;
  }
  .burger-button--active span:first-child {
    transform: rotate(-45deg) translate(0px, 1px);   
  }
  .burger-button--active span:last-child {
    transform: rotate(45deg) translate(0px, -1px);
    width: 22px;
  }
  .header__menu-list {
    position: fixed;
    z-index: 97;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #fff;
    display: flex;
    justify-content: center;

    transform: translateX(800px);
    transition: all 0.4s ease;
  }
  .header__menu-list--active {
    transform: translateX(0px);
  }
  ul.header__menu-items {
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  .header__menu-item {
    font-size: 24px;
    line-height: 36px; 
    letter-spacing: 0.16em;
  }
}
/* screen > w768 */
@media (max-width: 1200px) {
  .container {
    padding: 0 8px;
  }
}
@media (max-width: 1100px) {
  .gifts__cards {
    padding: 0 60px;
  }
  .footer__cards {
    flex-direction: column;
    gap: 12px;
  }
  .footer__card {
    width: 100%;
  }
  .footer__card:nth-child(2) {
    margin-left: 0;
  }
  .footer__card:nth-child(3) {
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .gift__tabs {
    gap: 0;
  }
  .gift__tab {
    padding: 12px 8px;
  }
  .gifts__cards {
    padding: 0 27px;
  }
}
@media (hover: none) and (pointer: coarse) {
  /* Menu buttons */
  .header__menu-item .header__menu-link:hover {
    color: #181c29; 
    background-color: transparent;
    transition: none;
    cursor: default;
  }
  /* Gift tab */
  .gift__tab:hover {
    background: transparent;
    transition: none;
    cursor: default;
  }
  /* Gift cards and footer cards */
  .gifts__card:hover,
  .gifts__card:hover .gifts__card-title,
  .footer__card:hover .footer__card-subtitle,
  .footer__card:hover .footer__card-title,
  .footer__info-subtitle:hover {
    color: #181c29; 
    transition: none;
    cursor: default;
  }
  /* SVG icons */
  .footer__info-icon:hover .footer__info-icon--active {
    stroke: #181c29; 
    transition: none;
    cursor: default;
  }
  * {
    transition: none;
  }
  /* All classes with transition */
  .header__menu-link,
  .gift__tab,
  .gifts__card,
  .gifts__card-title,
  .footer__card,
  .footer__card-title,
  .footer__card-subtitle,
  .footer__info-icon,
  .footer__info-icon--active,
  .footer__info-subtitle {
    transition: none;
  }
}


@media (max-width: 768px) {
.scroll-to-top {
  position: fixed;
  bottom: 16px;
  right: 16px;

  width: 56px;
  height: 56px;

  background-color: #fff;

  background-image: url('../../assets/icons/arrow-up.svg');
  background-repeat: no-repeat;
  background-position: center center;
  
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  transition: all 0.3s ease, ;

}
.scroll-to-top:hover {
  border: 1px solid #ff4646;
}
  .scroll-to-top.visible {
    display: flex;
  }
}


